#video_stream {
  padding-top: 10px;
  height: 175px;
  width: inherit;
}

.toolbar__box--bottom-right{
  display:none !important;
}

#questions-box{
  margin-top: 10px;
  height:450px;
  width:inherit;
  background-color: grey;
}

.row {
  margin-right: 0;
}

.question-video-wrapper{
  height:650px;
  width:275px;
  margin-right: 10px;
  /*background-color: black;*/
}

svg{
    display: inline-block;
    width: 100%;
    height: 300px;
}

body{
font-family: 'Barlow', sans-serif;
  padding:20px;
	background-color:rgba(243,233,220,.7);
	padding:20px;
  background: linear-gradient(-45deg, #C08552, #5E3023, #895737, #DAB49D);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

#whiteboard{
  display:flex;
}

#chat-button{
  display: hidden;
}

#aww-wrapper{
  background-color: white;
  border: 2px solid black;
  width: 850px;
  height: 650px;

}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
