
#chat-wrapper input {
	padding: 10px; width: 70%; margin-right: .5%;
	border-bottom: 1px black;
	border-style: inset;
}

#chat-wrapper button {
	width: 20%; background: rgb(130, 224, 255); border: none; padding: 10px;
}

#chat-wrapper form {
	position: unset;
	background-color: white;
}

#chat-wrapper #message-display {
	height: 90%;
}

.message {
	padding: 10px;
	padding-right: 20px;
}

.message .sender {
	font-weight: bold;
	margin-bottom: 5px;
}

.message .text {
	border-radius: 5px;
	padding: 15px;
	box-shadow: 2px 2px 5px grey;
	margin-left: 0;
}

.message .checkbox {
    transform: scale(1.5);
}

hr {
	margin-top: 0;
	margin-bottom: 0;

}