body{

  font-family: 'Barlow', sans-serif;
  /*padding:20px;*/
  background-image: url("Cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

h1{

    font-family: 'Barlow', sans-serif;
    font-size: 70pt;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;



}

.btn{

   
    text-align: center;

}

#container0 {
    width: 70%;
    height: 90%;
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    object-fit: contain;
   }

.container1{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
    
    padding: 20px;
    object-fit: contain;
    
    

}
p{

    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


label{

    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    

}
.container2{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
   
    padding: 20px;
    display: none;
    object-fit: contain;
    


}

.container3{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
    
    padding: 20px;
    display: none;
    object-fit: contain;


}

#error-message {
    width: 50%;
    text-align: center;
    background-color: rgba(255, 77, 77, 0.7);
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}
