body{

  font-family: 'Barlow', sans-serif;
  /*padding:20px;*/
  background-image: url("Cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #86c1d1;
}

/*
.helperbutton .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.helperbutton .btn:hover {
    background-color: white;
}

  */
#helperbutton{

    background-image: url(/img/questionmark.svg);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}
.helperbutton:hover { background-color: white; }

#instructions{

    font-size: 15pt;
    text-align: left;
    color: black;
    border-style: solid;
    border-width: 2px; 
    padding: 20px;
    display: none;
}

h1{

    font-family: 'Barlow', sans-serif;
    font-size: 70pt;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;



}

.btn{

   
    text-align: center;

}

#container0 {
    width: 70%;
    height: 90%;
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*overflow: auto;*/
    object-fit: contain;
   }

.container1{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
    
    padding: 20px;
    object-fit: contain;
    
    

}
p{

    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}


label{

    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    

}
.container2{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
   
    padding: 20px;
    display: none;
    object-fit: contain;
    


}

.container3{

    position: relative;
    font-size: 30pt;
    text-align: center;
    color: white;
    
    padding: 20px;
    display: none;
    object-fit: contain;


}

#error-message {
    width: 50%;
    text-align: center;
    background-color: rgba(255, 77, 77, 0.7);
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 5px;
}
