#video_stream {
  height: 30%;
  width: inherit;
}

#overlay{
  /*background-color: rgba(0,0,0,0.5);*/
  z-index:2;
  opacity:0;
  filter: alpha(opacity = 0);
  position:absolute;
  top:0; bottom:0; left:0; right:0;
  display:block;
}
.toolbar__box--bottom-right{
  display:none !important;
}

#chat-question-toggler{
  width: inherit;
}

.row {
  
  margin-right: 0;
}

#message-display{
  padding-top:40px;
}
#chat-wrapper {

  object-fit: contain;
  overflow: contain;
  background-color: rgba(255, 255, 255, 0.9);
}

 .nav-pills>a:hover { 
	background-color:none;
}

.nav-pills .nav-link {
  background-color: #C08552;
  color: white;
}

.nav-pills .nav-link.active {
  background-color: #FFFFFF;
  color: black;
}

.question-video-wrapper{
  height: 100%;
  width: 100%;
  margin-right: 0px;
  /*background-color: black;*/
}


#teacher-video-wrapper{
  height: 100%;
  width: 100%;
  margin-right: 10px;
  /*background-color: black;*/
}
svg{
    display: inline-block;
    width: 100%;
    height: 300px;
}

body{
font-family: 'Barlow', sans-serif;
  padding:20px;
  background-image: linear-gradient(-45deg, #004972, #016d9c, #ede5ce, #c7839c);
  background-size: 150% 150%;
}

#questions-box, #question-display{
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  height:68%;
  margin-bottom:0%;
}
#content {
  height: calc(100% - 70px);
}

#whiteboard{
  padding-right: unset;
  display:flex;
}

#chat-button{
  display: hidden;
}

#aww-wrapper{
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


* {
  margin: 0; padding: 0; box-sizing: border-box;
}
body {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
}

form {
  background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%;
}

form input {
  border: 0; padding: 10px; width: 90%; margin-right: .5%;
}

form button {
  width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px;
}

#messages {
  list-style-type: none; margin: 0; padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.section-title {
  background-color: #483d41;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  color: white !important;
  /*box-shadow: 2px 2px 5px grey;*/
  position:absolute;
  left:0px;
  right:0px;

}

#questions-title{
  top:0px;
   left:15px;
  right:15px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  30% { opacity: 0.3; }
}


.nav-pills .nav-item {
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.cloud {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-animation-name: cloud; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: cloud;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c1 {
  left: 5vw;
  transform: scale(1);
  animation-duration: 60s;
  margin-top: calc(50px + 10vh);
}

.c2 {
  left: 20vw;
  transform: scale(0.8);
  animation-duration: 40s;
  margin-top: calc(50px + 30vh);
}

.c3 {
  left: 60vw;
  transform: scale(1.2);
  animation-duration: 55s;
  margin-top: calc(50px + 50vh);
}

.c4 {
  left: 40vw;
  transform: scale(1);
  animation-duration: 50s;
  margin-top: calc(50px + 60vh);
}

.c5 {
  left: 10vw;
  transform: scale(1.5);
  animation-duration: 65s;
  margin-top: calc(50px + 80vh);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes cloud {
  0%   {left:0px; top:0px;}
  100% {left:calc(100% - 200px); top:0px;}
  /*100% {left:0px; top:0px;}*/
}

/* Standard syntax */
@keyframes cloud {
  0%   {left:0px; top:0px;}
  100% {left:calc(100% - 200px); top:0px;}
  /*100% {left:0px; top:0px;}*/
}
